
.kitty-1 {
  position: absolute;
  z-index: 1;
  top: 270px;
  left: 300px;
}

#kitty-2 {
  position: absolute;
  z-index: 2;
  top: 270px;
  left: 300px;
}

#basket img {
  position: absolute;
  z-index: 5;
  top: 270px;
  left: 300px;
}

#ball + img {
  position: absolute;
  z-index: 4;
  top: 260px;
  left: 300px;
}

img[alt="Kitty 5"] {
  position: absolute;
  z-index: 3;
  top: 270px;
  left: 300px;
}
